footer {
  background-color: #2a2c2f;
}

/* PQ o background color está "sumindo"??? */

.copyright {
  /* padding: 0 558px 24px 556px; */
  padding-right: 558px;
  padding-bottom: 24px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: right;
}
