/* PRIMEIRA <section> DO HEADER */

.header__image {
  display: flex;
  justify-content: center;
  padding-top: 34px;
}

.header__image__logo {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .header__image {
    padding-top: 30px;
    padding-inline: 257px;
  }
}

@media screen and (max-width: 720px) {
  .header__image {
    max-width: 188px;
    padding-top: 20px;
  }
}
