.intro {
  /* margin: 0 302px 92px 148px; */
  margin-left: 148px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-family: Inter;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  /* text-align: left; */
}

.intro__title {
  margin: 0 0 40px;
  padding: 0;
  font-family: Inter;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  /* text-align: left; */
}

.intro__quote {
  padding-right: 92px;
  margin-bottom: 0 0 10px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  /* text-align: left; */
}

.intro__quotee {
  margin: 0;
  padding-right: 98px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: right;
}

.intro__text {
  padding-right: 108px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.08px;
  /* text-align: left; */
}



@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 720px) {
}