.intro {
  margin-left: 148px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-family: Inter;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
}

.intro__title {
  margin: 0 0 40px;
  padding: 0;
  font-family: Inter;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
}

.intro__quote {
  padding-right: 92px;
  margin-bottom: 10px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}

.intro__quotee {
  margin: 0;
  padding-right: 98px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: right;
}

.intro__text {
  padding-right: 108px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.08px;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin: 0 24px 88px;
  }

  .intro__title {
    font-size: 45px;
    line-height: 49px;
  }

  .intro__quote {
    padding: 0;
    margin-bottom: 0;
  }

  .intro__quotee {
    padding-bottom: 32px;
  }

  .intro__text {
    padding: 0;
  }
}

@media screen and (max-width: 720px) {
  .intro {
    margin: 0 16px 64px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }

  .intro__quote {
    line-height: 30px;
    padding: 40px 0 10px;
  }
}
