body {
  background: #2a2c2f;
}

.page {
  max-width: 1280px;
  gap: 0;
  color: #fff;
  margin: 0 auto;
}

/* .page__template {
  margin: 0 auto;
  max-width: 984px;
} */

@media screen and (max-width: 1024px) {
  .page {
    max-width: 1024px;
  }
}

@media screen and (max-width: 720px) {
  .page {
    max-width: 720px;
  }
}
