/* TERCEIRA <section> DO MAIN */

.places {
  padding: 0 148px 92px;
}

.city {
  display: grid;
  grid-template-areas:
    "city artist"
    "image text"
    "button text"
    "span text";
  grid-gap: 48px;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 720px) {
}
